.button {
    height: 50px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* DEFAULT */
.default {
    background-color: var(--grey-800);
}

.default:hover {
    background: var(--white);
    color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
}

/* WARNING */
.darkorange {
    background-color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
}

.darkorange:hover {
    background: var(--light-orange);
    color: var(--dark-orange);
    border: 1px solid var(--grey-800);
}

/* DISABLED GLOBAL */
.button:disabled {
    background: var(--grey-200);
    color: var(--grey-400);
    border: none;
    cursor: not-allowed;
}