
.header{
    gap: 50px;
    width: 100%;
    height: 100px;
}

.menu{

}
.navbutton{
    width: 512px;
    height: 78px;
    gap: 16px;
}

.logo{

    width: 147px;
    height: 20px;
}
.logo-black{
    filter: brightness(0);
}

.header-button{

    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 248px;
    height: 78px;

    background: var(--white);
    border-radius: 10px;
    transition: background-color 0.3s ease;

}
.header-button:hover{

    background: var(--grey-950);

}
.header-button:hover p{
    color: var(--white);
}
.header-button:hover img {
    filter: brightness(0) invert(1);
}

.user-button{

    width: 65px;
    height: 65px;

    background: var(--light-orange);
    border-radius: 32px;
    transition: background-color 0.3s ease;
}
.user-button:hover{
    background: var(--dark-orange);
}
.user-button:hover p{
    color: var(--white);
}

.footer{

    width: 100%;
    height: 70px;
}
.footerdiv{
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}