@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --dark-orange: #D3590B;
    --warning-orange: #E08D00;
    --light-warning-orange: #FFF0D7;
    --light-orange: #FFE8D9;

    --white: #FFFFFF;

    --grey-50: #F9FAFB;
    --grey-100: #F3F4F6;
    --grey-200: #E5E7EB;
    --grey-400: #9CA3AF;
    --grey-600: #6B7280;
    --grey-800: #1F1F1F;
    --grey-950: #0F0F0F;

    --flashy-red: #DC0000;
    --red: #EF4444;
    --light-red: #FFE0E0;

    --blue: #3B82F6;
    --light-blue: #E0ECFF;

    --green: #27AE60;
    --light-green: #F1FFF7;

    --black: #000000;
}

html,
body {
    height: 100%;
    margin: 0;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.link{
    text-decoration: none;
}

h4{

    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0;

}
h5{

    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}
p{
    margin: 0;
}
.inter10400{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
}
.inter12400{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.inter14400UP{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* Neutral/Grey 950 */
    color: var(--grey-950);
}
.inter14400{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

}

.inter16400{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.inter18400{

    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}
.manrope40700{
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}
.manrope18600{
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.dark-orange{
    color: var(--dark-orange);
}
.light-orange{
    color: var(--light-orange);
}
.warning-orange{
    color: var(--warning-orange);
}
.light-warning-orange{
    color: var(--light-warning-orange);
}

.light-red{
    color: var(--light-red);
}
.flashy-red{
    color: var(--flashy-red);
}

.green{
    color: var(--green);
}
.light-green{
    color: var(--light-green);
}


.grey50{
    color: var(--grey-50);
}
.grey200{
    color: var(--grey-200)
}
.grey600{
    color: var(--grey-600);
}
.grey800{
    color: var(--grey-800);
}
.grey950{
    color: var(--grey-950);
}


.margin-bottom-zero{
    margin-bottom: 0;
}

.separator {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--grey-200);
}

.gap30{
    gap: 30px;
}
.gap24{
    gap: 24px;
}
.gap8{
    gap: 8px;
}
.gap5{
    gap: 5px;
}
.gap15{
    gap: 15px;
}
.gap10{
    gap: 10px;
}
.gap56{
    gap: 56px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.flex-start{
    justify-content: flex-start;

}
.justify-center{
    justify-content: center;
}
.justify-space-evenly{
    justify-content: space-evenly;
}
.justify-space-between{
    justify-content: space-between;
}

.split-in-two{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 44fr 56fr;
    background: var(--grey-50);
    place-items: center;

}
.error-section{
    height: 100vh;
}

input:focus{
    outline: none;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.max-w-100{
    width: 100%;
}
.max-h-100{
    height: 100%;
}


