.input-container{
    gap: 7px;
}

.input-field{
    padding: 19px 17px;
    gap: 10px;

    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.input-error{
    border-color: var(--red);
    border-radius: 5px;
    border-width: 2px;
}

.input-field::placeholder{

    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: var(--grey-600);

}
.input-field:focus{

    border-color: var(--warning-orange);
    border-width: 1.5px;

}
.input-field.input-error:focus{
    border-color: var(--flashy-red);
    border-width: 2px;
}
