.card{
    padding: 30px 15px;

    min-width: 350px;
    height: 321px;

    background: #FFFFFF;
    /* Neutral/Grey 200 */
    border: 1px solid #E5E7EB;
    border-radius: 10px;



}

.headercard{

    height: 67px;

}

.progressbar{
    width: 100%;
    height: 7px;
    background: var(--grey-200);
    border-radius: 40px;

}

.members{
    gap: -25px;

}