.thumbnail{

    width: 100%;
    height: 162px;

    border: 1px solid #E5E7EB;
    border-radius: 10px;
}
.thumbnailcontainer{
    width: 95%;
    height: 100%;
}

.thumbnailbutton{

    gap: 37px;

}