.thumbnail{

}
.thumbnailcontainer{
    height: 100%;

}



.thumbnailheader{

    width: 100%;

}

.thumbnailtitle{

    width: 100%;
}
.thumbnaildesc{
    width: 100%;

}

.thumbnailbutton{

    gap: 37px;

}

.thumbnailinfos{
    justify-items: center;
}