.dashboardpage{
    width: 100%;
    min-height: 100vh;

    background-color: var(--grey-50);
}
.dashboardcontainer{
    width: 1215px;
    padding-bottom: 75px;
}

.dashboardheader{
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    height: 70px;
}

.dashboardheadertext{
    gap:14px;
}